:root{
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteTitulos: 'Lora', serif;
    --fuenteLogo: 'Crimson Pro', serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.55%;
    background-color: #181719;
    ;
}
body{
    font-size: 16px;        /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

/* Globales */

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

p, h2, a{
    color:white;
}



/* header */

.header{

    margin-top: 4.2rem;
}

@media (min-width: 768px){
    
}

.logo{
    padding: 1rem 1rem;
    border: white 2px solid;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: var(--fuenteLogo);
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px){
    .barra{
        margin-bottom: 15rem;
    }
}

.enlace{
    font-size: 1.8rem;
    margin-bottom: 8.6rem;
    font-family: var(--fuentePrincipal);
}

@media (min-width: 768px){
    .enlace{
        font-size: 1.8rem;
        margin-right: 8.6rem;
        margin-bottom: 0;
        /* padding-top: 2rem; */
    }
}

.enlace.seleccionado, .enlace:hover{
    font-weight: 700;
    padding-bottom: .8rem;
    border-bottom: 1px solid white;
    transition: .3s;
}

.enlace:last-of-type{
    margin-right: 0;
}

.menu{

    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*POSICIÓN DE NAV*/
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /*POSICION OCULTA*/
    transition: all 500ms ease;
    opacity: 0;    
}

@media (min-width: 768px){
    .menu{
        background-color: #181719;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        width: 100%;
        height: 30%;
        opacity: 1;

        margin-left: 10rem;
    }
}

.icono{
    display: block;
}

/*toogle-BOTON*/
.toggle {
    cursor: pointer;
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* top: 0; */
    margin: 20px;
    z-index: 100;
}

@media (min-width: 768px){
    .toggle{
        display: none;
    }
}

.toggle:hover{
    cursor: pointer;
}

.toggle__btn {
    color: white;
    font-size: 25px;
}

/*ACTIVAR LA VISIBILIDAD DEL NAV*/
.active {
    transition: all 500ms ease;
    opacity: 1;
    z-index: 99;
}

@media (max-width: 768px) {

}

/* Portada */

.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* margin-right: 2rem; */
}

@media (min-width: 768px){
    .portada{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10rem;
    }
}

.texto{
    margin-bottom: 2.5rem;
}

@media (min-width: 768px){
    .texto{
        margin-bottom: 0;
    }   
}

.titulo{
    font-size: 3.6rem;
    font-family: var(--fuenteTitulos);
    font-weight: 500;
    margin-bottom: 2.5rem;
}

@media (min-width: 768px){
    .titulo{
        font-size: 4.8rem;
    }
}

.descripcion{
    font-size: 1.4rem;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
    /* width: 60%; */
    margin-bottom: 2.5rem;
    margin-top: 0;
}

@media (min-width: 768px){
    .descripcion{
        font-size: 2.4rem;
    }
}

.enlace.mas{
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.flecha{
    margin-left: 1.4rem;
}

.autor{
    display: flex;
}

.tarjeta{
    position: absolute;
    background-color: #181719;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    /* height: 35%; */
    height: auto;
    top: 90%;
    left: 15%;
}

@media (min-width: 768px){
    .tarjeta{
        width: 45%;
        height: 35%;
        /* height: auto; */

        top: 70%;
        left: 48%;
    }
}

 @media (min-width: 928px){
    .tarjeta{
        /* width: 45%;
        height: 31%;
        height: auto;

        top: 75%;
        left: 53%; */
        
        width: 45%;
        height: 30%;
        height: auto;

        top: 90%;
        left: 52%;
    }
}

/* @media (min-width: 1280px){
    .tarjeta{
        width: 45%;
        height: 30%;
        height: auto;

        top: 90%;
        left: 52%;
    }
} */

.autor__imagen{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.autor__nombre{
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    font-size: 1.2rem;
}

@media (min-width: 768px){
    .autor__nombre{
        font-size: 1.4rem;
    }
}

.autor__puesto{
    font-family: var(--fuentePrincipal);
    font-weight: 500;
    font-size: 1rem;
    color: #828282;
}

@media (min-width: 768px){
    .autor_puesto{
        font-size: 1.2rem;
    }
}

.by{
    font-family: var(--fuenteTitulos);
    font-size: 1.8rem;
}

@media (min-width: 929px){
    .by{
        font-size: 2.4rem;
    }
}

/* Footer */

.footer{
    margin-top: 17rem;
    color: rgba(189, 189, 189, 1);
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 768px){
    .footer{
        margin-top: 23rem;
    }
}

.footer p{
    font-family: 'Montserrat', sans-serif;
}

.nombre{
    font-weight: bold;
}